fastapi
uvicorn[standard]
motor
pymongo[srv]
certifi
langgraph
langchain
langchain-core
langchain-google-genai
google-genai
groq
duckdb
matplotlib
scipy
seaborn
statsmodels
plotly
pydantic
pydantic-settings
python-dotenv
websockets
python-multipart
aiofiles
RestrictedPython
